@media (min-width: 768px){
    .navbar-default.affix .nav>li>a, .navbar-default.affix .nav>li>a:focus {
        color: #222;
        padding-top: 50px;
    }
    
    .navbar-default.affix {
        background-image: url('../img/feira');
        background-color: #fff;
        border-color: rgba(34,34,34,.1);
    }
}
